body { margin: 0; }

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(29, 36, 37);
  color: rgb(147, 185, 201);
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.MuiInputLabel-root { margin-right: 10px !important; }

.game-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px;
}

#game-container {
  align-items: center;
}

#grid-background-rows, #grid-background-cols { 
  position: absolute;
  display: flex;
}
#grid-background-rows { flex-direction: column; }
#grid-background-cols { flex-direction: row; }
.background-row, .background-col { flex-grow: 1; }

.background-row:not(.start-row) {
  border-top: 2px solid rgb(147, 185, 201);
}

.background-col:not(.start-col) {
  border-left: 2px solid rgb(147, 185, 201);
}

.grid-position {
  font-size: 4rem !important;
  width: 5rem;
  height: 5rem;
  border-radius: 0 !important;
  border: none !important;
  z-index: 10;
}
.empty-position:hover { background-color: white !important; }
.X-position { color: #2196f3 !important; }
.O-position { color: #ff9100 !important; }
.X-position, .O-position { animation: grow .25s; }

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
