body { margin: 0; }

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(29, 36, 37);
  color: rgb(147, 185, 201);
}

#game-container {
  align-items: center;
}

.grid-position {
  font-size: 4rem !important;
  width: 5rem;
  height: 5rem;
  border-radius: 0 !important;
  border: 2px solid rgb(147, 185, 201) !important;
}
.empty-position:hover { background-color: white !important; }
.X-position { color: #2196f3 !important; }
.O-position { color: #ff9100 !important; }
.X-position, .O-position { animation: grow .25s; }

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
